.pc-web-footer-banner
  広告
%nav.footer_navi
  %ul
    %li.footer_navi_item
      = link_to "Pairsとは", "#", target: "_blank"
    %li.footer_navi_item
      = link_to "幸せレポート", "#"
    %li.footer_navi_item
      = link_to "安心の常時監視体制", "#"
    %li.footer_navi_item
      = link_to "安心のセキュリティー", "#"
    %li.footer_navi_item
      = link_to "ヘルプ", "#", target: "_blank"
    %li.footer_navi_item
      = link_to "お問い合わせ", destroy_user_session_path, method: :delete
  %ul
    %li.footer_navi_item
      = link_to "会社概要", "#", target: "_blank"
    %li.footer_navi_item
      = link_to "利用規約", "#"
    %li.footer_navi_item
      = link_to "プライバシーポリシー", "#"
    %li.footer_navi_item
      = link_to "特定商取引法に基づく表示", "#"
.footer_label
  .footer_label_horizontal_box
    = link_to do
      .link_to_truste.mr60
        = image_tag "https://static-pairs.akamaized.net/public/img/sp/img_jp/statics/truste/truste_ja.png"
    %table.footer_label_ssl{title: "このマークは、SSLで通信を保護している証です。"}
      %tbody
        %tr
          %td
            = link_to do
              = image_tag "https://lh3.googleusercontent.com/c180wmWA44uibsoJ6cVdic83ZbaXargEHqIFN9G94ozS39CTd50pnlEx_g9xa8I0BFW7duVrZzc3Ob3f8eFpTIlz_eKFri_JYYoEQaWAClbvHWaJqECVpK9B9f_kBVDSuCIOKNMW0rivG0LYPn2-HwZsmb13jLZdrVFzF4O9sTr2JHYLVKcyUkafr70e6fJ_I2WqV1Way5r6uZw4IYC8VIidzMeqUYLi29uPpdeXyd9Lh6WV_FRwYNN_HpmHBVtcSsTaFj_SkrCaK5QLRzPpBeWzpsJaPmw2W91krnWRKTn7z85FdTvhltsotsUsLeO-K1EMvFl520xv5OEvV6m78uripfv_SPFWIvrgwIp-j6WLU13-06fWpnm5drQ3iEVJnVRuQptiJbcLrWkaRVBo3aw89i4ukj_qhTSIkODbx918qJD6R8m0cUFWVof3VzXdA3n7R2K6b6OVXrUKMOpMZE9jJkRdCyX0xfhv6ZBdJ30FaU8TGMbTWCow60Czh8njTcTb1tTWPoNG4SXCuTMoOR7uGxQTN7_NXuEBghm45NOrHzzdalCuiBxJvBksGRpnccuFQbEAuYfGCjHJjxlSkxcqO8C6wH_2cK8EnKJFyg8qJPxu0KbUSEUkNr84Dd_SGf5CsOgxgYJHuu8enOjHSX5KSVEp317l=w115-h55-no", alt: "クリックして企業プロファイルを表示", name: "doidxvgm", oncontextmenu: "return false;"
            = link_to "SSLとは", "", target: "_blank", class:"ssl_link"
%p.footer_approved インターネット異性紹介事業 届出済み
%small.footer_copyright (c) eureka, Inc.
