%li.list_view_user_item
  %div
    %div
      %div
        = link_to "", class: "showPersonalViewModal","data-id": "#{user.id}" do
          - if user.UserImages.find_by(status: 1).present?
            = image_tag "#{user.UserImages.find_by(status: 1).content}", class: "list_view_user_photo image-circle"
          - elsif current_user.gender == "male"
            = image_tag "https://lh3.googleusercontent.com/6nHZo9ncRHpfOAfDBg1QEnGJTmTz80BIK06M3pkxYJFFddDktWulb9OSFTnyHM-5bbJwl5eOQPHw_zShMjLNaXTU0D-9dypWyeBonPRzljTpAPoXiT-a7A4vKJu8vJdikm4JIt6-SACVvWrU-Bl4HRkrk_bzkKv5LBcvBw7VsiG5PBASpIAF209t7MZ_MA0up_eTjEWwQ8UntsCtqjzfD8QjBlgyFZh7y8zM4ISlCbQqH5L-9ZjzxHh9zFX9_HSrSd-sF7pFV7ngzbYc5W5KHab7RBxqm_jlBsnZTvHs-MaG1RPuAtCWsAi0W6ayZjkCzViLvd_RCrRn37m4qjFtWrKU75cNs1buVzW01sB4bNm_RaSslIo1fzv-QoPd5rioAdFNeh5zDCM0AANsJANef6Rg7-AlQnUVBoe2RkSgkkBHnENm2PAU_EImbcq6fDZea1J19HQMycJx4Om7kJEm97EZLm5RK-WLg4gnQpf2HhfXtb0WtpvGMbKebiy7vxYDCgNWVZpL-4jRcsBU_55hTUfyhqi3Gwzfhh-LtueeV9GxaKvlhKFt8sF4rIEvs_NlHqTVhMpV-5G2j6KwL2yUv1zlAmNCI7o_wUWcx0nR-6OXVzp4bI_48gd6JyFD8rKU0Pk1pHrnrM8gqgWcVkhVNNVEph-jbogK=s640-no", class: "list_view_user_photo image-circle"
          - else
            = image_tag "https://lh3.googleusercontent.com/TfSva6g4DoAgB-0IcJRy2uGwlaV5583y4-mI64zKwt4xG4ogeLWLXMkLdGmHnupwEtASXC8uHy52KInNrkQlZWuDysLQOLcvjpDqGa-uh6Ku_wDtstE0k1EJIwOCzBOTdLMF--gZGg87OdZhuVrJfvnps6hDg4xzWdEGk2t_uIpWBKCGpJFrgWgnA0kla3SkYX_zOlgwOVEFiZpDwdY7Z3y48IU-_FEXyeh-XTesR_PDb_1Q_nxZDdsNunoEeazreKJ87-AWiO6aqycZX8zdUgxb2FvXkQLzeLozqrwbrR2auwyhQUfu8FV0ViiNwyS3FGv2vXst2RZO5aHcqEIx8yKoF53_3v-PgBrHQznad4vk-r8B846fP5bxLg4YxcMubX_-_qf2nJJEKJDqNxEuhyi4NviGVKu02Q7Cwp8e__44wiq63NcSiQ-1CvgzCge6qAh8ZMDQBkAQLQjzZGmILH05j42n5DbQFor2OAdiXnNJT_LHRkJOxDTrBLArI_N3dtmqutF0pWe3YjQ1VKK5raBzgWuP_fa-8lpjrm8F_ekbxOrHiUyK9sKTkpR0b6323ep3CVgNnLVCdV_Qcrm1yKRmGaNRpp_FEjter59oIGoNgnlo3_QgZ3beN3oU7I-H6FTYS-AhnzXH5Z1A-8DCUWnoOqW5pVQc=s640-no", class: "list_view_user_photo image-circle"
  .PrivateMode
    .box_user_info01
      %p.user_summary
        %span.is_3days
        %span.user_area{limit_length: "5"}
          = user.residence.prefecture
        %span.user_age
          = user.age.age
    .box_user_info03
      %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
        60%
      %p.user_like_count.user_like_count_a
        %span
          %em 100
      .user_tweet
        .user_tweet_body
          = user.nickname
    .box_button_like
      %div
        %span
          = form_for(current_user.following_relationships.build(following_id: user.id),html:{class: "button_like button_like_default button_pink_c button_like_view button_d"}) do |f|
            = f.hidden_field :following_id
            = f.submit "いいね！", class: "submitColor"

-# jsからのプロフィール表示（自分）
.showProfile{"data-id": "#{user.id}"}
  .showProfile_inner
    %a.modal_close
      %img{src: "https://lh3.googleusercontent.com/3ULN1jNBwRKL0vMWlpa7xXKDhKzbbkofEMFaU7AgGSDrmINTZ5hJgMUOCi43TnGM20_IVSa3Kkt4MDo6ZJkPxx_EoUGBr_BBO-v4G9EL5oIsUYVwDrLRwVQrm7THLhANPn1eutAH1UCWQCCkLtgPcvYQvRgN2CpJVhRa9pFTMjxee0oQFboX2pHoxQ9m9iK1mSxyONKQN558XN9O82poY3eZzH49cGWnNXM5ApzQ43Vn1mrLS3Hg1syJMmu7jS8pMVCPSJEd5npc_nQedhmtZSpICW7taQSBMXyptNl6eA9HB_wRwaR5jR6Y5y1q0BYU1lk1iKSnecj5mNWoJ0ckdHOx-DqN8XvUm7R5_cwRToYMnFQLEh27VfRa6K5IKbwj2uBKjTwOLux7KP8e2Ihn_vxVNB8oxht-WWZ8xbDk1NhLPLisFoGcTHU-AF4U7fdIvG_gbRczuhJ7ADvK0Ey5UoVRwrYrie7LiOMyKm217lblY_ElWyM9wx_-napFk4P0F-SkxJRAbA0c5mI65Qe1UJ4FWjGyPgJd1enGwwtPmykzyxuntfAwPSkrojsUaDUfxE7FQnyPabaf2EME0ooqZMFJxIoVh8g5HHBHPPFVsmPjEnpfPpg-k_a6rGC-M2zOxDpgV1uDZHAbe6Vd5leTwrO9aWfzvbrl=s53-no"}/
    = render partial: "pairs/shared/search_one", locals: { user: user }
