.box_mypage_header
  -# 自分の見え方を確認するために、渡し方をメイン画面と変更。
  -# クリック元以外に、表示先でも『data-id』を渡す。
  = link_to "プロフィールの見え方を確認", "", class: "button_profile_conf button_b button_white_a showPersonalViewModal","data-id": "#{current_user.id}"

  %a.button_notification.button_b.button_white_a.is_new
    .badge_count.uncheck
      1
    Pairsからのお知らせ
.box_mypage_detail
  .box_mypage_detail_inner01
    .box_photo_request
      %p.photo_request_text
        %em 1000人があなたの写真を待っています。
        写真を追加すると、リクエストを送った人が見られます。
    .mypage_detail_inner_left
      .user_status
        .user_status_title
          %p 会員ステータス
          = link_to '確認', "/membership/status", class: "button_status_conf button_f button_white_a"
        %p.user_status_label.is_free_member
          年齢未確認
      .user_tweet
        .user_tweet_title
          %p
            つぶやき
            %a.link_user_tweet.mt5
              ルール
          %span
            %a.button_edit.button_f.button_blue_a
              編集
        .user_tweet_inner
          .user_tweet_textarea
            %p.user_tweet_text
              編集ボタンより呟き変更。
              最大24文字。最低4文字。
          %p.user_tweet_note
            あと3回変更できます(1日3回まで)

      .visiter_summary
        %p.visiter_summary_title 足あと
        .visiter_summary_count
          %p.text 過去1週間の足あと
          %p.count
            %em<> #{@foot.length}
            人
        %ul.user_list
          - @foot.each do |foot|
            %li.user_item
              %a{href: ""}
                / 『#{foot.id}』でuser_idを渡せる
                - if foot.UserImages.find_by(status: 1).present?
                  = image_tag "#{foot.UserImages.find_by(status: 1).content}", class: "user_image image-circle"
                - elsif current_user.gender == "male"
                  = image_tag "https://lh3.googleusercontent.com/6nHZo9ncRHpfOAfDBg1QEnGJTmTz80BIK06M3pkxYJFFddDktWulb9OSFTnyHM-5bbJwl5eOQPHw_zShMjLNaXTU0D-9dypWyeBonPRzljTpAPoXiT-a7A4vKJu8vJdikm4JIt6-SACVvWrU-Bl4HRkrk_bzkKv5LBcvBw7VsiG5PBASpIAF209t7MZ_MA0up_eTjEWwQ8UntsCtqjzfD8QjBlgyFZh7y8zM4ISlCbQqH5L-9ZjzxHh9zFX9_HSrSd-sF7pFV7ngzbYc5W5KHab7RBxqm_jlBsnZTvHs-MaG1RPuAtCWsAi0W6ayZjkCzViLvd_RCrRn37m4qjFtWrKU75cNs1buVzW01sB4bNm_RaSslIo1fzv-QoPd5rioAdFNeh5zDCM0AANsJANef6Rg7-AlQnUVBoe2RkSgkkBHnENm2PAU_EImbcq6fDZea1J19HQMycJx4Om7kJEm97EZLm5RK-WLg4gnQpf2HhfXtb0WtpvGMbKebiy7vxYDCgNWVZpL-4jRcsBU_55hTUfyhqi3Gwzfhh-LtueeV9GxaKvlhKFt8sF4rIEvs_NlHqTVhMpV-5G2j6KwL2yUv1zlAmNCI7o_wUWcx0nR-6OXVzp4bI_48gd6JyFD8rKU0Pk1pHrnrM8gqgWcVkhVNNVEph-jbogK=s640-no", class: "user_image image-circle"
                - else
                  = image_tag "https://lh3.googleusercontent.com/TfSva6g4DoAgB-0IcJRy2uGwlaV5583y4-mI64zKwt4xG4ogeLWLXMkLdGmHnupwEtASXC8uHy52KInNrkQlZWuDysLQOLcvjpDqGa-uh6Ku_wDtstE0k1EJIwOCzBOTdLMF--gZGg87OdZhuVrJfvnps6hDg4xzWdEGk2t_uIpWBKCGpJFrgWgnA0kla3SkYX_zOlgwOVEFiZpDwdY7Z3y48IU-_FEXyeh-XTesR_PDb_1Q_nxZDdsNunoEeazreKJ87-AWiO6aqycZX8zdUgxb2FvXkQLzeLozqrwbrR2auwyhQUfu8FV0ViiNwyS3FGv2vXst2RZO5aHcqEIx8yKoF53_3v-PgBrHQznad4vk-r8B846fP5bxLg4YxcMubX_-_qf2nJJEKJDqNxEuhyi4NviGVKu02Q7Cwp8e__44wiq63NcSiQ-1CvgzCge6qAh8ZMDQBkAQLQjzZGmILH05j42n5DbQFor2OAdiXnNJT_LHRkJOxDTrBLArI_N3dtmqutF0pWe3YjQ1VKK5raBzgWuP_fa-8lpjrm8F_ekbxOrHiUyK9sKTkpR0b6323ep3CVgNnLVCdV_Qcrm1yKRmGaNRpp_FEjter59oIGoNgnlo3_QgZ3beN3oU7I-H6FTYS-AhnzXH5Z1A-8DCUWnoOqW5pVQc=s640-no", class: "user_image image-circle"
                %p.user_info #{foot.age.age} #{foot.residence.prefecture}
                %p.user_time
                  %span #{format_posted_timeYMD(foot.updated_at)}
        .box_link_more
          =link_to "もっと見る", visitorlist_path,class: "button_f button_white_a"

    .mypage_detail_inner_right
      .box_my_display_photo
        .my_display_photo_title
          メイン・サブ写真
          %p.button_edit
            %a.button_f.button_blue_a
              写真編集
        .my_summary_info
          %ul.my_display_photo_list
            %li.my_display_photo_item.is_current
              - if @user.UserImages.find_by(status: 1).present?
                = image_tag "#{@user.UserImages.find_by(status: 1).content}"
              - else
                = image_tag "https://lh3.googleusercontent.com/jmxL41Xoh0hwYidEE0Mt_mO6hKBrPYVwQpNOFSDHHaFYY30WxFuqehwH6e1AGG8LNA1cnmO-Xu1r7IAKxEkxMwzAg6yiJSfWHpV16volf3DK78EXqEEs_Nc2zQJBEU0b86PRkcq_7DW8mLbaKNgj1QGVsME8Pqu-qOlpWJ3o0TZIlshWLaA2HypQgZRP1ETY8XGUr01jB7iMoasAP1xUzJyxUFl5i-miinWCzu5MgkmZuUS6KCyfy_Fdozn5xvI3J_sGRA9yJ_yg3NcM-b4mf6LOuZ_89eW7RbxVOalsUQ5Z6iMMZWagh3uNh3pW0CrldkOKUB1_3AbBVxTJZOcGolBcGit1TWxmDa6XUgzjSSipZURmQ7XkdjkYOIW9NSOJuQNkDMPskpOfnC-jELZWwfqrc1BxZB4qSXQyVQV-qeZ2L8_D6Pq0VvRCf77QkiX7S2f74bQ-BHEjCaaNX_3xhx0nk1Ihjfr09JuuxILeXsgSa--RQTupf0CHicd8SkiHQbsvw8IwvC9CEySbZLBjmsCUqXMc3jOGxbpKNy6x-ygrQ46ELi-3ml6dNCfNOVBmJdOTsZzPKpZB5W_M6AF2PyamLxfCfG2wj4KHEO1rDSHGkDZrc16-lzvzK4YNmSOwK5Ynp-BIC0JoTZ--TvZsSiFbqd_VBfA=s98-no"
        .box_my_photo
          .box_my_photo_inner
            %ul.my_photo_list
              - if @user.UserImages.find_by(status: 1).present?
                %li.photo_item.is_current
                  .image-round
                    = image_tag "#{@user.UserImages.find_by(status: 1).content}"
                    %a.link_photo_edit
                      メイン写真
              - else
                %li.photo_item
                  %img{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
                  %a.link_photo_edit
                    審査中
              %li.photo_item
                %img{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
                %a.link_photo_edit
                  審査中
              %li.photo_item
                %img{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
                %a.link_photo_edit
                  審査中
              %li.photo_item
                %img{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
                %a.link_photo_edit
                  審査中
        .box_my_photo_pager
          %a.pager_pre.button_c.button_white_a
            前の4枚
          %a.pager_next.button_c.button_white_a
            次の4枚
          %ol.pager_nums
            %li.pager_num.is_current
              %a
                1
            %li.pager_num
              %a
                2
        #modal_edit_photo.box_modal_window.box_mypage_view.modal_animation.hide{style:"display: none;"}
          .box_modal_window_inner
            = link_to "", class: "modal_close" do
              = image_tag "https://lh3.googleusercontent.com/OvuCiYa4BQTysD4hGAvHvq-jiPzIeDHw-6sV3O-muacAKiaaUhOvNUZwn6OMIfUk9b_vdKp0t2QuwjRBsH4sjYdLqrAZHt9detzixJnogSfAgMG5OJO10G5p_meBL6CyFBzbtVDzjjs6ZXHTpW1gzEfuOzXztuIM4QkluaBhfmDKYmJIvzahQmxmw-nonBhpMTqjDij0mlXKce2glt-obC9QIeNy0PJ7VdGLyzXZ2z2WFZurXGTS2ka7xuW575lP2IrhJ-stbK3GbejGzcZNNBIaE0Yn7V4dardy76vDbuANY3VjK8CQsfsTx9q379P-QNqo_OlQpjRujAKkW8JVOPLoWcX4WxMQbziwvlrb_5AbD731gKuhIbrFBpKunjk3hFaoNhKwtGS9wPwldUavwQTsBDR7uUCY-mEGgQNuKYFwimfrZefkBsI9CqQzsg7M3WK9goK0MK_14qTiopQvdP6Ri4ILk6S8bYv7UeERA2WMdsa7s-OsuNRsAEEgNbgIfXsCfVcLRPeqSj7fz6Dme4GbFHQlQLVX_7j7Adbs3xUyWZs3i-NtmD-uR1MpoF6LxYVciij4AbVJtDnvhFU00IrorcUQ9xwUcTXp_l8G81lDUEICGj9p0iEi0RaRaJDzKXf2mciENSGorXl3BXhqSVqhD4ilGIPC=s53-no"
            %p.modal_sub_title_b メイン写真の編集
            .box_edit_main_photo_status
              = form_for [@user, @image] do |f|
                .user_main_photo
                  - if @user.UserImages.find_by(status: 1).present?
                    = image_tag "#{@user.UserImages.find_by(status: 1).content}"
                  - else
                    = image_tag "https://lh3.googleusercontent.com/jmxL41Xoh0hwYidEE0Mt_mO6hKBrPYVwQpNOFSDHHaFYY30WxFuqehwH6e1AGG8LNA1cnmO-Xu1r7IAKxEkxMwzAg6yiJSfWHpV16volf3DK78EXqEEs_Nc2zQJBEU0b86PRkcq_7DW8mLbaKNgj1QGVsME8Pqu-qOlpWJ3o0TZIlshWLaA2HypQgZRP1ETY8XGUr01jB7iMoasAP1xUzJyxUFl5i-miinWCzu5MgkmZuUS6KCyfy_Fdozn5xvI3J_sGRA9yJ_yg3NcM-b4mf6LOuZ_89eW7RbxVOalsUQ5Z6iMMZWagh3uNh3pW0CrldkOKUB1_3AbBVxTJZOcGolBcGit1TWxmDa6XUgzjSSipZURmQ7XkdjkYOIW9NSOJuQNkDMPskpOfnC-jELZWwfqrc1BxZB4qSXQyVQV-qeZ2L8_D6Pq0VvRCf77QkiX7S2f74bQ-BHEjCaaNX_3xhx0nk1Ihjfr09JuuxILeXsgSa--RQTupf0CHicd8SkiHQbsvw8IwvC9CEySbZLBjmsCUqXMc3jOGxbpKNy6x-ygrQ46ELi-3ml6dNCfNOVBmJdOTsZzPKpZB5W_M6AF2PyamLxfCfG2wj4KHEO1rDSHGkDZrc16-lzvzK4YNmSOwK5Ynp-BIC0JoTZ--TvZsSiFbqd_VBfA=s98-no"
                .modal_button_area.text_center.mb50
                  = f.file_field :content
                  = f.hidden_field :status, value: 1
                  = f.submit "PUBLISH"
                %input#upload_mainphoto_button.hide
            %p.modal_sub_title_b サブ写真の追加・削除
            %ul.photo_edit_list_a
              = form_for @user do |f|
                = f.hidden_field :user_id, value: current_user.id
                - 4.times do |i|
                  = f.fields_for :user_images do |image|
                    %li.photo_edit_item.box_edit_sub_photo_status
                      = image_tag "https://lh3.googleusercontent.com/C_srCdJMKLgLge2kMbdYRKAV4PVgY1BwxErqzTMneKOL622TkslXAePM9TO73dRAJFUDAsNGZTDK3eEpmDRatqWCuJmOzkkYh9c4AbBD33bh4jlqWqgNoB_xYzDjFrL5U7qIp7uMCc1R8xZ4HpUuEp7Pux2N2UN1HslJikl2n-akYBsKelod8haz0pfMD6vPvt1m0qZFVoV0nprpv89iLLhKKanSHNe5rPz9Ch8GeTn-Ce8yP3bKWgl-FkNOgbRD-skaUsaEcMHEbzXZxjSIfRvq5Bo18Nhh-reNIGhSBBtuZ0-8znpVoo7xLLCUhXsTCoRtv4VTuSxi_1c0yp0gKYxJPonhsJ9ETMsV9ONAa_NoFTqbDgrlTKi7SQqPl0Yj2AHLZiotQ39LzE5fXt-Z8Gtlny69-gCMPqtV-9VR754jDRLw0jzMxa4hOWZIIKTlDQv7FOog14yC0wiHE9Jw7X_bEbITqZxXoslic26x4Otyx58FQ84Ev3EzZ5T2E1Tdic2B3eyvBTBIpxHgDmU5RAgy0Va9haPXUc5jDSGcZf0pRBYpSeAeLG1sBrIckhFosBYtKNnMuj4Won98WKQG3_3DaTDSYSGZ9GTPjo-y9LNkktgEeZlD5e1-boPGB0u_8ial3reHfDlib3X307nUg-XME3WvtYBS=w204-h247-no"
                      = link_to "×", "", class: "label_photo_delete"
                / %li.photo_edit_item.box_edit_sub_photo_status
                /   = image_tag "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"
                / %li.photo_edit_item.box_edit_sub_photo_status
                /   = image_tag "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"
                / %li.photo_edit_item.box_edit_sub_photo_status
                /   = image_tag "https://static-pairs.akamaized.net/public/img/pc/img_jp/myprofile/photo_place_holddr_profile.png"
                .modal_button_area.text_left.mb30
                  .modal_button_area.text_center
                    = f.fields_for :user_images do |image|
                      / = link_to "ファイルから選ぶ", "", class: "button_a w30p button_blue_a"
                      = image.file_field :content
                      = image.hidden_field :status, value: 2
                      = f.submit "PUBLISH"
                    %input#upload_subphoto_button.hide
  .box_mypage_detail_inner02
    .mypage_detail_inner_left
      .box_profile_detail
        %p.detail_sub_note.pb10.borderb1
          項目を選択すると編集できます
          / = link_to '項目を選択すると編集できます', "/users/#{current_user.id}/details/#{current_user.id}/edit"
        %p.detail_sub_title
          %span.title_a
            Pairsプロフ
        %dl.detail_item_list.pb10.borderb1
          %dt.detail_item_title
            %span.item_title
              身長
          - if @user.height_id.present?
            %dd.detail_item_value#detail_item_value_height
              = link_to "#{@user.height.height}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_height
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              体型
          - if @user.body_id.present?
            %dd.detail_item_value#detail_item_value_body_build
              = link_to "#{@user.body.body}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_body_build
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              血液型
          - if @user.blood_id.present?
            %dd.detail_item_value#detail_item_value_blood_type
              = link_to "#{@user.blood.blood_type}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_blood_type
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              居住地
          - if @user.residence_id.present?
            %dd.detail_item_value#detail_item_value_residence_state
              = link_to "#{@user.residence.prefecture}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_residence_state
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          / 未実装のため、コメアウト
          / %dt.detail_item_title
          /   %span.item_title
          /     出身地
          / %dd.detail_item_value.is_no_select#detail_item_value_home_state
          /   = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              職種
          - if @user.occupancy_id.present?
            %dd.detail_item_value#detail_item_value_job
              = link_to "#{@user.occupancy.occupancy}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_job
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              学歴
          - if @user.school_id.present?
            %dd.detail_item_value#detail_item_value_education
              = link_to "#{@user.school.school}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_education
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              年収
          - if @user.income_id.present?
            %dd.detail_item_value#detail_item_value_annual_income
              = link_to "#{@user.income.income}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_annual_income
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            / 本物ではこの場所では非表示
            %span.item_title
              同居人
          - if @user.living_with_id.present?
            %dd.detail_item_value#detail_item_value_lodger
              = link_to "#{@user.living_with.living_with}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_lodger
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            / 本物ではこの場所では非表示
            %span.item_title
              休日
          - if @user.holiday_id.present?
            %dd.detail_item_value#detail_item_value_holiday
              = link_to "#{@user.holiday.holiday}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_holiday
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            / 本物ではこの場所では非表示
            %span.item_title
              お酒
          - if @user.alcohol_id.present?
            %dd.detail_item_value#detail_item_value_drinking
              = link_to "#{@user.alcohol.frequency}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_drinking
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              タバコ
          - if @user.smoke_id.present?
            %dd.detail_item_value#detail_item_value_smoking
              = link_to "#{@user.smoke.frequency}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_smoking
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        %p.detail_sub_title.pb0
          %span.title_a
            詳細プロフ
        %p.detail_sub_title
          基本情報
        %dl.detail_item_list
          %dt.detail_item_title
            %span.item_title
              ニックネーム
          %dd.detail_item_value#detail_item_value_nickname
            =@user.nickname

          %dt.detail_item_title
            %span.item_title
              年齢
          %dd.detail_item_age
            = @user.age.age

          %dt.detail_item_title
            %span.item_title
              兄弟姉妹
          %dd.detail_item_value.is_no_select#detail_item_value_nth_child
            = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              国籍
          %dd.detail_item_value.is_no_select#detail_item_value_nationality
            = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              話せる言語
          %dd.detail_item_value.is_no_select#detail_item_value_lang
            = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        %p.detail_sub_title.ng-hide
          学歴・職種・外見
          / 本物では非表示状態
        %dl.detail_item_list.ng-hide
          %dt.detail_item_title
            %span.item_title
              年収
              / 本物では非表示状態
          - if @user.income_id.present?
            %dd.detail_item_value#detail_item_value_annual_income2
              = link_to "#{@user.income.income}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_annual_income2
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        / 未実装のため、コメアウト
        / %p.detail_sub_title
        /   恋愛・結婚について
        / %dl.detail_item_list
        /   %dt.detail_item_title
        /     %span.item_title
        /       結婚歴
        /   %dd.detail_item_value.is_no_select#detail_item_value_married_status
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       子どもの有無
        /   %dd.detail_item_value.is_no_select#detail_item_value_child
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       結婚に対する意思
        /   %dd.detail_item_value.is_no_select#detail_item_value_when_marry
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       子どもが欲しいか
        /   %dd.detail_item_value.is_no_select#detail_item_value_want_child
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       家事・育児
        /   %dd.detail_item_value.is_no_select#detail_item_value_housework
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       出会うまでの希望
        /   %dd.detail_item_value.is_no_select#detail_item_value_how_to_meet
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        /   %dt.detail_item_title
        /     %span.item_title
        /       初回デート費用
        /   %dd.detail_item_value.is_no_select#detail_item_value_cost_of_date
        /     = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

        %p.detail_sub_title
          性格・趣味・生活
        %dl.detail_item_list
          / 未実装箇所をコメアウト
          / %dt.detail_item_title
          /   %span.item_title
          /     性格・タイプ
          / %dd.detail_item_value.is_no_select#detail_item_value_personalities
          /   = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          / %dt.detail_item_title
          /   %span.item_title
          /     社交性
          / %dd.detail_item_value.is_no_select#detail_item_value_sociability
          /   = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              同居人
          - if @user.living_with_id.present?
            %dd.detail_item_value#detail_item_value_lodger2
              = link_to "#{@user.living_with.living_with}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_lodger2
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              休日
          - if @user.holiday_id.present?
            %dd.detail_item_value#detail_item_value_holiday2
              = link_to "#{@user.holiday.holiday}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_holiday2
              選択してください

          %dt.detail_item_title
            %span.item_title
              お酒
          - if @user.alcohol_id.present?
            %dd.detail_item_value#detail_item_value_drinking2
              = link_to "#{@user.alcohol.frequency}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_drinking2
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          %dt.detail_item_title
            %span.item_title
              タバコ
          - if @user.smoke_id.present?
            %dd.detail_item_value#detail_item_value_residence_state
              = link_to "#{@user.smoke.frequency}", "/users/#{current_user.id}/details/#{current_user.id}/edit"
          - else
            %dd.detail_item_value.is_no_select#detail_item_value_blood_type
              = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

          / %dt.detail_item_title
          /   %span.item_title
          /     好きなこと・趣味
          / %dd.detail_item_value.is_no_select#detail_item_value_hobbies
          /   = link_to "選択してください", "/users/#{current_user.id}/details/#{current_user.id}/edit"

      %a.button_a.button_white_a{href: ""}
        質問付きいいね！の設定

    .mypage_detail_inner_right
      .box_join_community
        .join_community_title_b
          %span.title_a
            参加しているコミュニティ
          = link_to "新しいコミュニティに入る", communities_path, class: "button_new_entry button_f button_white_a"
        %ul.join_community_list
          - if @communities.present?
            - @communities.each do |community|
              %li.join_community_item
                %a{href: "/community/#{community.id}", class: "community_link"}
                  .box_community_item_img
                    = image_tag community.image.url, class:"community_item_img image-round"
                  %p.community_item_title
                    = community.community_name
                  %p.community_item_count
                    = t("enums.community.category.#{community.category}")
          - else
            %li.about_community
              コミュニティに参加して、
              %br
              共通の趣味や好みのお相手とつながろう！
              %br
              = link_to "コミュニティとは？","", class: "link_help mr10"

        .box_community_pager
          = paginate(@communities, theme: "patern_b")
      .box_mypage_introduction
        %p.introduction_title
          自己紹介文
          %span
            %a.button_edit.button_c.button_blue_a
              編集
        %p.introduction_note
          自己紹介を充実させると、
          %em
            マッチング率10倍UP!
        %p.introduction_text
          プロフィール見てくれて、ありがとうございます！
          %br
          最近はプログラミングにはまっています。
          マイペースな私ですが
          よろしくお願いします。
        %p.introduction_text.empty.ng-hide
          自己紹介文はまだ入力されておりません。

/ インデックスの作成から表示されるポップアップ
.data-community-help-modal
  .modal_community
    .box_modal_window.modal_fixed.modal_animation#modal_community_about
      .box_modal_window_inner
        %a.modal_close.modal-close
          %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
        %p.modal_title.ribbon_title.ribbon_blue
          コミュニティとは？
        %p.modal_text_a コミュニティに参加して、共通の趣味や好みのお相手とつながろう！
        %p.modal_sub_title コミュニティに参加すると…
        %img.mb10{src:"https://lh3.googleusercontent.com/5Wd__gY0BqguEt4c5KUPsftmAf1Jbc-yWCW9m2JxSAc6wR_FSUu4k_y4ukFhvQa_Smv4hFZEyClgUARdWCXeF1hA93XlFWQnWG0yiewqvxpgyeN9F1wwqSalJ26wlR3XroS4fLYj0uiZPyFsojANMTBwd7xfXfj2EA8bv_oDnsyqqXCqcdbYng5ZCX62p_NyJkuVGOvXvvFB3SDu-Q6FMQ00DmOhpWSJQhS5fGwZx4OfqQyFcvs4Iat9hG16xV-YLSyE7CnW-WyyEm61GgUsIHBig05UY-HbzKI0iS3YOle-hXlp2ThWl6X7Q5v99meQi1_rmFJWzvRdNoD7FP8Wlyf4wnPWT0NrVqD7lqxDmoDDtckRH_y0ZZX7-zCm5wNu5-IiuNEUQ8_XeEnfo5_MjrXlXjLQKfxQetzyYVpoEXQRKpxFs9EaopIWVMPTQLtPYjtXUrUZLRd1DBmTaVqQn5k_hKq4FLFHp3ORcksuTqepYf5kXtiXJv_XdWqHgDqN5tkdrc0F2yPRUvZKt1Mw9BGv05FygTKWfTqP_ZETSmCiUwHeb59XZKHLacVtWOBk-xSCw7l3n5qL7RFdGjh5rehdROA4zAwE1Bw5sYargO8zacqhACaBtoguPzQuW5Q6Zr4kKDSioj6ulVDXrWWAo3CMDXMFbBLZ=w529-h191-no"}
        %p.modal_sub_title コミュニティを作成すると…
        %img.mb10{src:"https://lh3.googleusercontent.com/O-_FpTUFN5SdGTQ325cW1vCQpJtmY8CTDVVmn0ngj72cQNzPCN6jzW9pY_6Q9AqBMNxjvr320FGaMPkoYYJFClbJrmYMj2bk30YA7gq5LbnX2FP-IbUt1D51dGauViwLubyJ2sc4XLSnCsk6hGp2BHkPCmtiD0bdpFrXpKCLjHNqNjWlqViNr7vJ8GVPJXjeQT8a3lQQq15PiMKOnXu0piA4v_gtASkN0tmYpDLRjWLQtqVMSh600Ard-8ZpWULu7kaJFq0GBunRYBGCwj59bqpQoMq5mMv_L2ovmACPqM0goihHAiv1TZNgSuE6hNzzDkKapex__6TBzBg8_okNMOEEGnQUXBC0pB273vcehDIgMr_6pAWytJbywgrkK6hP-w71HqunwPFHHm4FfQKSaz8Wre4RqkOgm2HIwg4aOGF7otkx_ZFrNKuNP0JC8-rmP1HiIDXVsFio8OKFw9iNWKWLni2jzR-HGHDHrAr1kQ-R8gT4D6uD3rl0g2GcqLyakz8O1pshiBDottqtwmBGwYgHPRyxI6uWbUNXm_VhLd22-AzqCYFwToXz4dVV_ZCLtF14e0bESPH5JJWxtMAI5poGgsQvg0IKqhY3WQg94V1cDTdsC-xHd29UTDUxBhx_5Op88lpVJMWZXOB_GfJ6NwHFy5GpijEP=w529-h191-no"}
        .common_button_area.mt20
          .button_item.w50p
            = link_to "コミュニティを作成する", community_create_path, class:"button_a button_blue_a"


-# jsからの異性プロフィール表示
-# 自分の見え方を確認するために、渡し方をメイン画面と変更。
-# 表示先以外に、クリック元でも『data-id』を渡す。
-# 『data-id』：current_user.id、『locals』：current_user
.showProfile{"data-id": "#{current_user.id}"}
  .showProfile_inner
    %a.modal_close
      %img{src: "https://lh3.googleusercontent.com/3ULN1jNBwRKL0vMWlpa7xXKDhKzbbkofEMFaU7AgGSDrmINTZ5hJgMUOCi43TnGM20_IVSa3Kkt4MDo6ZJkPxx_EoUGBr_BBO-v4G9EL5oIsUYVwDrLRwVQrm7THLhANPn1eutAH1UCWQCCkLtgPcvYQvRgN2CpJVhRa9pFTMjxee0oQFboX2pHoxQ9m9iK1mSxyONKQN558XN9O82poY3eZzH49cGWnNXM5ApzQ43Vn1mrLS3Hg1syJMmu7jS8pMVCPSJEd5npc_nQedhmtZSpICW7taQSBMXyptNl6eA9HB_wRwaR5jR6Y5y1q0BYU1lk1iKSnecj5mNWoJ0ckdHOx-DqN8XvUm7R5_cwRToYMnFQLEh27VfRa6K5IKbwj2uBKjTwOLux7KP8e2Ihn_vxVNB8oxht-WWZ8xbDk1NhLPLisFoGcTHU-AF4U7fdIvG_gbRczuhJ7ADvK0Ey5UoVRwrYrie7LiOMyKm217lblY_ElWyM9wx_-napFk4P0F-SkxJRAbA0c5mI65Qe1UJ4FWjGyPgJd1enGwwtPmykzyxuntfAwPSkrojsUaDUfxE7FQnyPabaf2EME0ooqZMFJxIoVh8g5HHBHPPFVsmPjEnpfPpg-k_a6rGC-M2zOxDpgV1uDZHAbe6Vd5leTwrO9aWfzvbrl=s53-no"}/
    = render partial: "pairs/shared/search_one", locals: { user: current_user }
