.main_contents
  .main_contents_style
    .main.box_message_view
      %div
        / マッチングが0人の場合
        .box_message_not_found
          .box_message_inner_left
            .box_matching_summary
              %p.matching_summary_text
                %em<>
                  %span<> 0
                  人
                の異性とマッチングしています。
            %ol.box_matching_list
              %li.matching_item
                = image_tag "https://lh3.googleusercontent.com/4T-8GQSWbFY_rvNfY00_fBalOPZtAb1ZAd5o3vgBO2DRGverf5-4S6XCoqnWoQff938DVPTJ0S4opVaAsGmXSGx05hTlhH6f7e2JID_7SJ2IN9GWwDmXGF-st0TJR01QyPbSPJXV-dRc4HN1AVIJ1yjCwoRajw4Jcd1fOVFU759dJycH-P76TzJERk9UWNaaf9gPFoRpsBfDqHx-7h1tAQMC44N4bjbdzNupudWaF2v35odG_xigdOrMVoiDZXOdiFTk8hsJ5AGoCZf9tv8lR0QTb4LXoDGnPPWJ0k_BZX9ueiYglgkMacIXb-nEbQNrlk8ppN4cYpiuvgdgZTVUsw2yEkEJO-IbRlOLTovB7IJJ4HL3T2UEwlkrJwDDMr2cDG3rq_64T_khUgzpyI9QKUNEXX3aEVQRGY1tFFkMdQCmsNCA89_Zo5qq-SSga5voUggzxzpF-lnKS6b9eielS3-ID9C9LH7A_IGh7x_Z7gciTng5_jeAbicgen2tJDLBynm1ICAtglwE5g6abEltXeqEhCELbcwuytJP2mM3URBP2kqnH2hC685aJ0c8fFCTFhP6Zawn3iHtynoohSgoL8kYx9kdmzPmSdbmcWiGEH3IXnkrSthWYWyfLnQt9kW3RYFlXQFcMu0H7G4HRqM34IY-5D4IB9nh=s78-no", class: "user_photo image-circle"
                .info_inner
                  .user_info01
                    %span マッチングしたお相手
                  .user_info02
                    %p.message ここにお相手からのメッセージが...
                  .login_time ◯時間前
            .box_message_tutorial.message_tutorial_a
              %p<>
                こちらにマッチングしたユーザーが
                %br<>
                  入ります。
            .box_button_withdrawal
              =link_to "退会者を表示しない","", class: "button_c button_white_a"

          .box_message_inner_right

            .box_message_exchange_title
              %p.user_name マッチングしたお相手　◯歳　お住まい

            .box_message_exchange
              .their_message
                = image_tag "https://lh3.googleusercontent.com/4T-8GQSWbFY_rvNfY00_fBalOPZtAb1ZAd5o3vgBO2DRGverf5-4S6XCoqnWoQff938DVPTJ0S4opVaAsGmXSGx05hTlhH6f7e2JID_7SJ2IN9GWwDmXGF-st0TJR01QyPbSPJXV-dRc4HN1AVIJ1yjCwoRajw4Jcd1fOVFU759dJycH-P76TzJERk9UWNaaf9gPFoRpsBfDqHx-7h1tAQMC44N4bjbdzNupudWaF2v35odG_xigdOrMVoiDZXOdiFTk8hsJ5AGoCZf9tv8lR0QTb4LXoDGnPPWJ0k_BZX9ueiYglgkMacIXb-nEbQNrlk8ppN4cYpiuvgdgZTVUsw2yEkEJO-IbRlOLTovB7IJJ4HL3T2UEwlkrJwDDMr2cDG3rq_64T_khUgzpyI9QKUNEXX3aEVQRGY1tFFkMdQCmsNCA89_Zo5qq-SSga5voUggzxzpF-lnKS6b9eielS3-ID9C9LH7A_IGh7x_Z7gciTng5_jeAbicgen2tJDLBynm1ICAtglwE5g6abEltXeqEhCELbcwuytJP2mM3URBP2kqnH2hC685aJ0c8fFCTFhP6Zawn3iHtynoohSgoL8kYx9kdmzPmSdbmcWiGEH3IXnkrSthWYWyfLnQt9kW3RYFlXQFcMu0H7G4HRqM34IY-5D4IB9nh=s78-no", class: "their_photo image-circle"
                .box_message_info
                  %p.message_user_name マッチングしたお相手
                  %p.message_text
                    ここにお相手からのメッセージが
                    %br
                      入ります！
              .box_not_found_description
                .description_user_relation
                  = image_tag "https://lh3.googleusercontent.com/4T-8GQSWbFY_rvNfY00_fBalOPZtAb1ZAd5o3vgBO2DRGverf5-4S6XCoqnWoQff938DVPTJ0S4opVaAsGmXSGx05hTlhH6f7e2JID_7SJ2IN9GWwDmXGF-st0TJR01QyPbSPJXV-dRc4HN1AVIJ1yjCwoRajw4Jcd1fOVFU759dJycH-P76TzJERk9UWNaaf9gPFoRpsBfDqHx-7h1tAQMC44N4bjbdzNupudWaF2v35odG_xigdOrMVoiDZXOdiFTk8hsJ5AGoCZf9tv8lR0QTb4LXoDGnPPWJ0k_BZX9ueiYglgkMacIXb-nEbQNrlk8ppN4cYpiuvgdgZTVUsw2yEkEJO-IbRlOLTovB7IJJ4HL3T2UEwlkrJwDDMr2cDG3rq_64T_khUgzpyI9QKUNEXX3aEVQRGY1tFFkMdQCmsNCA89_Zo5qq-SSga5voUggzxzpF-lnKS6b9eielS3-ID9C9LH7A_IGh7x_Z7gciTng5_jeAbicgen2tJDLBynm1ICAtglwE5g6abEltXeqEhCELbcwuytJP2mM3URBP2kqnH2hC685aJ0c8fFCTFhP6Zawn3iHtynoohSgoL8kYx9kdmzPmSdbmcWiGEH3IXnkrSthWYWyfLnQt9kW3RYFlXQFcMu0H7G4HRqM34IY-5D4IB9nh=s78-no", class: "image-circle"
                  = image_tag "https://lh3.googleusercontent.com/X_Skh_qz9OJxLa76Ko_8Atdtmt9v40kmLz90gyCkSTcEcQ-VUHUXK_k4pxSw4RR5_3zu62jxssyrRFU4Xq94YfDf757JNtHGQvXmGqPCZrUfWODo3D4GRCytSw9K9ztyjPmKqwlQ1O80iSi6647wG5evuX_rt_Y-E8p60lNqZM8FrxAz3tTvG5AkaERDVvx90yv4J4u9dZkDQ2DSwfyvk3iTGFeh54c6AKZMeDvvJg8vly8YW4DSmzTDpQb6EGbqkhKaOSE19PkrOx67dadr6bxS5LokFFSEyLDwxhw94nnMCKQMci8u_oltowmi5EhJdlhxNQrc-Efpr9wNX8CdkUzQvdelf_pn6eDm4aQMCbCsDqGGWIlFd_3JOGdroQzRGHKNTx_ZUUlZCsTUFZIFlfXcd28r7gZV-8S0lTSADlAxvKptwyYByApSsSWnKRosgBzEcGKOK_6ECUCjevPaLE1i08-T2t91K8RzJ0OPNFiV4BdlzUjb0rt2eiyQ4y22H0seUMbrWXOtoy1EQ1xs0gP6fp2qv7LROVIIl8vX5YljqM9YwcnawPrvxOKCv_g0nsKGTQz7scPos3a8i-QhvZVWRsYvE3qk_LGoBWyzrcpdMDfqu_LZuqe5N6glEp1AIyz_2isKOutJruhnuNLqW7d-SB6k2Hez=w121-h78-no"
                  = image_tag "https://lh3.googleusercontent.com/4T-8GQSWbFY_rvNfY00_fBalOPZtAb1ZAd5o3vgBO2DRGverf5-4S6XCoqnWoQff938DVPTJ0S4opVaAsGmXSGx05hTlhH6f7e2JID_7SJ2IN9GWwDmXGF-st0TJR01QyPbSPJXV-dRc4HN1AVIJ1yjCwoRajw4Jcd1fOVFU759dJycH-P76TzJERk9UWNaaf9gPFoRpsBfDqHx-7h1tAQMC44N4bjbdzNupudWaF2v35odG_xigdOrMVoiDZXOdiFTk8hsJ5AGoCZf9tv8lR0QTb4LXoDGnPPWJ0k_BZX9ueiYglgkMacIXb-nEbQNrlk8ppN4cYpiuvgdgZTVUsw2yEkEJO-IbRlOLTovB7IJJ4HL3T2UEwlkrJwDDMr2cDG3rq_64T_khUgzpyI9QKUNEXX3aEVQRGY1tFFkMdQCmsNCA89_Zo5qq-SSga5voUggzxzpF-lnKS6b9eielS3-ID9C9LH7A_IGh7x_Z7gciTng5_jeAbicgen2tJDLBynm1ICAtglwE5g6abEltXeqEhCELbcwuytJP2mM3URBP2kqnH2hC685aJ0c8fFCTFhP6Zawn3iHtynoohSgoL8kYx9kdmzPmSdbmcWiGEH3IXnkrSthWYWyfLnQt9kW3RYFlXQFcMu0H7G4HRqM34IY-5D4IB9nh=s78-no", class: "user_photo image-circle"
                %p.description_title
                  ここでは、あなたとマッチングしたお相手と
                  %br
                    メッセージすることができます。
                %p.description_text
                  あなたに「いいね！」をしてくれたお相手と
                  %br
                    マッチングしましょう！
                = link_to "もらったいいね！を確認する", like_from_partner_path, class: "button_b button_blue_a"

            .box_message_action
              %textarea{class: "messege_textarea", placeholder: "メッセージを入力する"}
              .box_message_action_inner
                %ul.messege_option_list
                  %li.messege_option_item
                    %button.button_message_submit.button_b.button_blue_a{type: "submit"} 送信
                  %li.messege_option_item
                    %button.button_photo_upload.button_b.button_white_a{type: "submit"}
                  %li.messege_option_item
                    %p.user_check.check_auto_input
                      %input.user_check{type: "checkbox"} 自動挿入しない
              .box_other_action
                %p.other_action_block
                  = link_to "表示設定", "", class: "button_b button_white_a"
                %ul.other_action_fb_list
                  %li.action_fb_item
                    = link_to "あなた 未公開", "", class: "button_b button_open_fb"
                  %li.action_fb_item
                    = link_to "お相手 未公開", "", class: "button_b button_open_fb"

            .box_message_tutorial.message_tutorial_b
              %p<>
                ここで、facebookの公開ができます。
                %br<>
                お相手が公開すると、お相手のボタンから
                %br<>
                facebookが確認できるようになります。
                %br<>
                %span ※公開は、2通以上やりとりをする必要があります。

            .box_message_note
              %p.message_note_title メッセージ送信時のご注意
              .message_note_detail
                %p.note_text メッセージを送る際は、以下のような点に気をつけてください。他のユーザーからの違反報告があった場合は、警告表示や強制退会となる場合もありますので、ご注意ください。
                %ul.note_list.mb10
                  %li.note_item
                    %em メッセージには誠実に対応してください。
                    送信前に相手を不快にさせるような内容ではないか確認しましょう。実際に会うことになった際は、約束の場所・日時を守りましょう。
                  %li.note_item
                    %em ネットワークビジネス・不動産投資への勧誘、その他Pairsの趣旨から離れたメッセージの送信は、利用規約で禁止されています。
                  %li.note_item
                    Pairs内外に関わらず、上記のようなメッセージを受け取られましたら直ちに通報機能をご利用ください。
                %p.note_text ※健全なサービスを運営する目的で運営者がメッセージの内容を確認・削除する場合があります。これに同意した上で送信してください
