%li{class: "matching_item is_current","data-id": group.after_user_id}
  = link_to group_messages_path(group.group_id) do
    - if match_user.UserImages.find_by(status: 1).present?
      = image_tag "#{match_user.UserImages.find_by(status: 1).content}", class: "user_photo image-circle"
    - elsif current_user.gender == "male"
      = image_tag "https://lh3.googleusercontent.com/6nHZo9ncRHpfOAfDBg1QEnGJTmTz80BIK06M3pkxYJFFddDktWulb9OSFTnyHM-5bbJwl5eOQPHw_zShMjLNaXTU0D-9dypWyeBonPRzljTpAPoXiT-a7A4vKJu8vJdikm4JIt6-SACVvWrU-Bl4HRkrk_bzkKv5LBcvBw7VsiG5PBASpIAF209t7MZ_MA0up_eTjEWwQ8UntsCtqjzfD8QjBlgyFZh7y8zM4ISlCbQqH5L-9ZjzxHh9zFX9_HSrSd-sF7pFV7ngzbYc5W5KHab7RBxqm_jlBsnZTvHs-MaG1RPuAtCWsAi0W6ayZjkCzViLvd_RCrRn37m4qjFtWrKU75cNs1buVzW01sB4bNm_RaSslIo1fzv-QoPd5rioAdFNeh5zDCM0AANsJANef6Rg7-AlQnUVBoe2RkSgkkBHnENm2PAU_EImbcq6fDZea1J19HQMycJx4Om7kJEm97EZLm5RK-WLg4gnQpf2HhfXtb0WtpvGMbKebiy7vxYDCgNWVZpL-4jRcsBU_55hTUfyhqi3Gwzfhh-LtueeV9GxaKvlhKFt8sF4rIEvs_NlHqTVhMpV-5G2j6KwL2yUv1zlAmNCI7o_wUWcx0nR-6OXVzp4bI_48gd6JyFD8rKU0Pk1pHrnrM8gqgWcVkhVNNVEph-jbogK=s640-no", class: "user_photo image-circle"
    - else
      = image_tag "https://lh3.googleusercontent.com/TfSva6g4DoAgB-0IcJRy2uGwlaV5583y4-mI64zKwt4xG4ogeLWLXMkLdGmHnupwEtASXC8uHy52KInNrkQlZWuDysLQOLcvjpDqGa-uh6Ku_wDtstE0k1EJIwOCzBOTdLMF--gZGg87OdZhuVrJfvnps6hDg4xzWdEGk2t_uIpWBKCGpJFrgWgnA0kla3SkYX_zOlgwOVEFiZpDwdY7Z3y48IU-_FEXyeh-XTesR_PDb_1Q_nxZDdsNunoEeazreKJ87-AWiO6aqycZX8zdUgxb2FvXkQLzeLozqrwbrR2auwyhQUfu8FV0ViiNwyS3FGv2vXst2RZO5aHcqEIx8yKoF53_3v-PgBrHQznad4vk-r8B846fP5bxLg4YxcMubX_-_qf2nJJEKJDqNxEuhyi4NviGVKu02Q7Cwp8e__44wiq63NcSiQ-1CvgzCge6qAh8ZMDQBkAQLQjzZGmILH05j42n5DbQFor2OAdiXnNJT_LHRkJOxDTrBLArI_N3dtmqutF0pWe3YjQ1VKK5raBzgWuP_fa-8lpjrm8F_ekbxOrHiUyK9sKTkpR0b6323ep3CVgNnLVCdV_Qcrm1yKRmGaNRpp_FEjter59oIGoNgnlo3_QgZ3beN3oU7I-H6FTYS-AhnzXH5Z1A-8DCUWnoOqW5pVQc=s640-no", class: "user_photo image-circle"

    .info_inner
      .user_info01
        %span{limit_length: "5"}
          = match_user.nickname
        %span
          = match_user.age.age
        %span{limit_length: "8"}
          = match_user.residence.prefecture
      - if (match_user.messages.where(group_id: group.group_id).present?)
        .user_info02
          %p.message
            = match_user.messages.where(group_id: group.group_id).last.content
            / = match_user.messages.last.content
        %p.login_time
          =format_posted_time(match_user.messages.where(group_id: group.group_id).last.created_at)
          / =format_posted_time(match_user.messages.last.created_at)
      - else
        .user_info02
          %p.message
            メッセージのやりとりがありません。
